* {
		box-sizing:border-box;
		margin:0;
		padding:0;
}

header {
	height: 20vh;
	display:flex;
	align-items:center;
	justify-content:center;
	background-size:100% 100%;
	background-color:grey;
	background-image:url('../MEDIA/guitar-header.jpg');
}

h1 {
	color:white;
	text-shadow:2px 2px black;
	font-family: Calibri;
}

/*---------------------NAV BAR-----------------------*/
nav {
	background-color:#6D8764;
	padding:10px 10px 10px 10px;
	
}

nav ul {
	margin:0;
	padding:0;
	list-style-type:none;
	overflow:hidden;
	
}

nav ul li {
	display:inline-block;
	font-size:1.2em;
	text-align:center;
	width:190px;
	/*CHOOSE FONT*/
	text-align:center;
}

nav ul li a {
	display:block;
	color:white;
	font-family: Calibri;
	text-decoration:none;
	padding:10px 15px;
	background-color:#647687;
	border:solid;
	border-color:#314354;
	height:50px;
	
}

.current {
	background-color:#1BA1E2;
}

nav ul li a:hover:not(.current) {
	background-color:#93AEC7;
}



/*----------------------MAIN SECTION-------------------------*/
body { 
	background-color:#BAC8D3;
}
	
.page {
	padding:5px;
	margin:10px 10px 10px 10px;
	background-color:#B1DDF0;
	border:solid;
	border-color:darkgrey;
	width:50%;
	margin-left:auto;
	margin-right:auto;
	display: flex;
	flex-direction: column;
	height:100%
}

.page_header {
	display:block;
	font-family: Calibri;
	background-color:#F9F7ED;
	border:solid;
	border-color:#36393D;
	padding:10px 10px 10px 10px;
	margin-top:20px;
	margin-bottom:20px;
	/*centering*/
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.main_text {
	display:block;
	font-family: Calibri;
	text-align:center;
	margin-left:50px;
	margin-right:50px;
	margin-bottom:10px;
	font-size:1.2em;
}

.legal {
	display:block;
	text-align:center;
	margin-left:50px;
	margin-right:50px;
	margin-bottom:20px;
	font-size:1.2em;
}

.audio_examples {
	margin-bottom:20px;
}

.homepage_gif {
	padding:5px 5px 5px 5px;
	display:flex;
	justify-content:center;
	margin-left:auto;
	margin-right:auto;
}

.gif_size_control {
	display:flex;
	margin-left:auto;
	margin-right:auto;
}


/*-------------CHORDS AND BUYERS GUIDE---------------*/
.page3part {
	background-color:#B1DDF0;
	border:solid;
	border-color:darkgrey;
	margin:10px;
	padding:5px;
	display:flex;
	flex-direction:row;
	min-height:80vh;
}

.col2 {
	flex:0.6;
	margin:10px;
}
	
.col1, .col3 {
	flex:1;
	margin:10px;
}

.col_text {
	display:block;
	text-align:center;
	margin:0px;
	font-size:1.1em;
	font-family: Calibri;
}
	
.bgcol1, .bgcol2, .bgcol3 {
	flex:1;
	margin:10px;
}

.bgimage {
	margin:10px;
}

/*--------------CONTACT FORM----------------*/
.contact_form {
	padding:5px;
}

.contact_page {
	padding:5px;
	margin:10px 10px 10px 10px;
	background-color:#B1DDF0;
	border:solid;
	border-color:darkgrey;
	width:50%;
	margin-left:auto;
	margin-right:auto;
	display: flex;
	flex-direction: column;
	height:100%
}

input[type=text] {
	display:inline-block;
	border-radius:5px;
	padding:10px;
	box-sizing:border-box;
}

/*-------------REFERENCES-----------------*/
.references {
	margin:20px;
	font-family: Calibri;
	font-size:1.1em;
}


footer {
	color:white;
	background-color:#6D8764;
	padding:10px 10px 10px 10px;
	text-align:center;
	margin-top:100px;
	font-family: Calibri;
	
	/*centering*/
	display:flex;
	justify-content:center;
	align-items:center;
	
}

@media (max-width: 900px) {
	.page {
		width: 100%;
	}
	
	.main_text {
		font-size:1.1em;
	}
	
	.page3part {
		flex-direction:column;
	}
}
